# Gitignore settings for esphomeyaml
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphomeyaml/
**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
/secrets.yaml
/.esphome/

Archive/
icons/Archive/
fonts/Archive/
flashing/

**/*/*.ini

Config/Config.xml

*_save.yaml
*- Copy.*
*.csv
*.Identifier
*.ini
*.json
*.lnk

sync.ffs_db
garage/platformio.ini
dalek.yaml
dalek.yaml
drwho.yaml
